* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  border: 0.1rem solid #000;
}

.container h1 {
  margin-bottom: 1rem;
  color: #2a2a2a;
}

.container span {
  display: block;
  margin-bottom: 1rem;
  font-size: 8rem;
  color: #2a2a2a;
}

#generateBtn {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  background: #OC4160;
  color: #2a2a2a;
  cursor: pointer;
}
